.leftIconsOption2DesktopChild {
  position: absolute;
  top: -44px;
  left: 176px;
  width: 1505.5px;
  height: 1307.6px;
  object-fit: contain;
  mix-blend-mode: screen;
}
.nvf2a1lu01011Icon {
  position: absolute;
  top: calc(50% - 340px);
  left: calc(50% - 408px);
  width: 800px;
  height: 533.3px;
  object-fit: cover;
}
.leftIconsOption2DesktopItem {
  position: absolute;
  bottom: 0;
  left: calc(50% - 400px);
  width: 800px;
  height: 220px;
  object-fit: cover;
}
.primavera {
  position: absolute;
  top: 215px;
  left: 1394px;
  font-size: var(--font-size-203xl);
  color: transparent;
  text-align: left;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.36);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.ellipseDiv,
.leftIconsOption2DesktopInner {
  position: absolute;
  top: 733px;
  left: 399px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 92px;
  height: 92px;
}
.ellipseDiv {
  left: 852px;
}
.beige,
.beige1,
.brown,
.brown1,
.charcoal,
.charcoal1 {
  position: absolute;
  top: 827px;
  left: 423px;
  font-size: var(--font-size-sm);
  font-weight: 600;
}
.beige,
.beige1,
.brown1,
.charcoal,
.charcoal1 {
  left: 778px;
}
.beige,
.beige1,
.charcoal,
.charcoal1 {
  left: 524px;
}
.beige1,
.charcoal,
.charcoal1 {
  left: 879px;
}
.charcoal,
.charcoal1 {
  left: 612px;
}
.charcoal1 {
  left: 967px;
}
.div,
.div1,
.div2,
.leather,
.luxury {
  position: absolute;
  top: 846px;
  left: 780px;
  font-weight: 500;
}
.div1,
.div2,
.leather,
.luxury {
  top: 847px;
  left: 880px;
}
.div2,
.leather,
.luxury {
  left: 979px;
}
.leather,
.luxury {
  top: 696px;
  left: 514px;
  font-size: var(--font-size-base);
  font-weight: 600;
}
.luxury {
  left: 871px;
}
.rectangleIcon {
  position: absolute;
  top: calc(50% - 240px);
  left: 0;
  width: 100px;
  height: 480px;
  object-fit: contain;
}
.thisMiniRevolutionOn {
  margin: 0;
}
.thisMiniRevolutionOnContainer {
  position: absolute;
  top: 198px;
  left: 1181px;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-weight: 300;
  font-family: var(--font-helvetica);
  color: var(--color-gray-100);
  text-align: right;
  display: inline-block;
  width: 195px;
  height: 122px;
}
.div3,
.msrp {
  position: absolute;
}
.msrp {
  top: 820px;
  left: 1342px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.14em;
  line-height: 16px;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: right;
}
.div3 {
  top: 837px;
  left: 1295px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.maskGroupIcon,
.maskGroupIcon1,
.maskGroupIcon2 {
  position: absolute;
  top: 739px;
  left: 504px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.maskGroupIcon1,
.maskGroupIcon2 {
  left: 405px;
}
.maskGroupIcon2 {
  left: 603px;
}
.lineDiv {
  position: absolute;
  top: 744.4px;
  left: 719.4px;
  border-right: 1.3px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 1.3px;
  height: 69.3px;
}
.accessories,
.colour,
.saddle,
.summary {
  position: absolute;
  top: 872px;
  font-size: var(--font-size-base);
  letter-spacing: -0.02em;
  line-height: 16px;
  font-weight: 500;
}
.saddle {
  left: calc(50% - 116px);
}
.accessories,
.colour,
.summary {
  left: 498px;
  color: var(--color-gray-200);
}
.accessories,
.summary {
  left: 715px;
  font-weight: 600;
}
.summary {
  left: 867px;
}
.rectangleDiv {
  position: absolute;
  top: 892px;
  left: 597px;
  border-radius: var(--br-61xl);
  background-color: var(--color-white);
  width: 66px;
  height: 4px;
}
.icon,
.icon1,
.icon2 {
  position: absolute;
  top: 739px;
  left: 858px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.icon1,
.icon2 {
  left: 759px;
}
.icon2 {
  left: 957px;
}
.leftIconsOption2DesktopChild1 {
  position: absolute;
  top: calc(50% + 45px);
  left: 92px;
  border-radius: var(--br-61xl);
  background-color: var(--color-gray-200);
  width: 90px;
  height: 3px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon3 {
  position: absolute;
  top: 386.2px;
  left: 36px;
  width: 29.2px;
  height: 22px;
  object-fit: cover;
}
.vectorIcon1,
.vectorIcon2,
.vectorIcon3 {
  top: 299px;
  left: 35px;
  width: 32.9px;
}
.vectorIcon2,
.vectorIcon3 {
  top: 559.9px;
  left: 36px;
  width: 29.6px;
  height: 20px;
}
.vectorIcon3 {
  top: 469.3px;
  left: 40px;
  width: 22.5px;
  height: 30px;
}
.startEngine {
  position: absolute;
  top: 327.3px;
  left: 21px;
  font-weight: 600;
}
.lightsSwitch,
.openBoot,
.openStand {
  position: absolute;
  top: 414.3px;
  left: 18px;
  font-weight: 600;
}
.openBoot,
.openStand {
  top: 501.3px;
  left: 25px;
}
.openStand {
  top: 588.3px;
  left: 22px;
}
.layer1Icon {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 40.3px;
  height: 28px;
  overflow: hidden;
  object-fit: cover;
}
.leftIconsOption2Desktop {
  position: relative;
  background-color: var(--color-coral);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
