.saddleMobileChild {
  position: absolute;
  top: -16px;
  left: -239px;
  width: 1063.7px;
  height: 923.9px;
  object-fit: contain;
  mix-blend-mode: screen;
}
.saddleMobileItem {
  position: absolute;
  bottom: 0;
  left: calc(50% - 183px);
  width: 366px;
  height: 140px;
  object-fit: cover;
}
.primavera {
  position: absolute;
  top: 64px;
  left: 421px;
  font-size: var(--font-size-47xl);
  color: transparent;
  text-align: left;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.36);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.vectorIcon {
  position: absolute;
  height: 3.75%;
  top: 3.13%;
  bottom: 93.13%;
  left: calc(50% - 183px);
  max-height: 100%;
  width: 69.8px;
  object-fit: cover;
}
.div,
.msrp {
  position: absolute;
  text-align: right;
}
.msrp {
  top: 64px;
  left: 357px;
  letter-spacing: 0.14em;
  line-height: 16px;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
}
.div {
  top: 79px;
  left: 318px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.nvf2a1lu01011Icon {
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% - 177px);
  width: 329px;
  height: 219px;
  object-fit: cover;
}
.saddleMobileInner {
  position: absolute;
  top: calc(50% - 160px);
  left: 0;
  width: 60px;
  height: 320px;
  object-fit: contain;
}
.rectangleDiv {
  position: absolute;
  top: calc(50% + 28px);
  left: 54px;
  border-radius: var(--br-61xl);
  background-color: var(--color-gray-200);
  width: 55px;
  height: 2px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.start {
  margin: 0;
}
.lightsSwitch,
.openBoot,
.openStand,
.startEngine {
  position: absolute;
  top: 233px;
  left: 7px;
  font-size: var(--font-size-5xs);
  line-height: 9px;
  font-weight: 500;
  display: inline-block;
  width: 39px;
  height: 16px;
}
.lightsSwitch,
.openBoot,
.openStand {
  top: 298px;
  height: 17px;
}
.openBoot,
.openStand {
  top: 363px;
  left: 11px;
  width: 31px;
}
.openStand {
  top: 428px;
  left: 10px;
  width: 33px;
}
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
  top: 261px;
  left: 10px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  top: 195px;
}
.vectorIcon3,
.vectorIcon4 {
  top: 391px;
  height: 34px;
}
.vectorIcon4 {
  top: 326px;
}
.saddleMobileChild1 {
  position: absolute;
  top: 512px;
  left: 150px;
  border-radius: var(--br-61xl);
  background-color: var(--color-white);
  width: 44px;
  height: 3px;
}
.leather,
.luxury {
  position: absolute;
  top: 517px;
  left: 152px;
  font-weight: 600;
}
.luxury {
  left: 230px;
}
.brown {
  left: 113px;
}
.beige,
.brown,
.charcoal {
  position: absolute;
  top: 591px;
  font-weight: 600;
}
.beige {
  left: calc(50% - 14px);
}
.charcoal {
  left: 264px;
}
.ellipseDiv {
  position: absolute;
  top: 535px;
  left: 100px;
  border-radius: 50%;
  border: 1.2px solid var(--color-white);
  box-sizing: border-box;
  width: 54px;
  height: 54px;
}
.maskGroupIcon,
.maskGroupIcon1,
.maskGroupIcon2 {
  position: absolute;
  top: 538px;
  left: 183px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.maskGroupIcon1,
.maskGroupIcon2 {
  left: 103px;
}
.maskGroupIcon2 {
  left: 263px;
}
.colour,
.saddle {
  position: absolute;
  top: 615px;
  font-size: var(--font-size-xs);
  letter-spacing: -0.02em;
  font-weight: 500;
}
.saddle {
  left: calc(50% - 83px);
  color: var(--color-gray-200);
}
.colour {
  left: 48px;
}
.saddleMobileChild2 {
  position: absolute;
  top: 633px;
  left: 36px;
  border-radius: var(--br-61xl);
  background-color: var(--color-white);
  width: 60px;
  height: 3px;
}
.accessories,
.summary {
  position: absolute;
  top: 615px;
  left: 202px;
  font-size: var(--font-size-xs);
  letter-spacing: -0.02em;
  font-weight: 600;
  color: var(--color-gray-200);
}
.summary {
  left: 311px;
}
.saddleMobile {
  position: relative;
  background-color: var(--color-coral);
  width: 100%;
  height: 640px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
